<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.entry}">제목</title>
</head>
<body>
    <form th:action="@{/calc}" method="post" th:object="${calcForm}">
        <div>
            <input type="text" th:field="*{leftNum}" >
            +
            <input type="text" th:field="*{rightNum}" >
        </div>
        <button type="submit" th:text="#{button.send}"></button>
    </form>

    <!-- 에러 표시 >> 이 부분에서 에러 발생 -->

        <ul th:if="${#fields.hasErrors('calcForm.*')}">
            <li th:each="err:${#fields.errors('calcForm.*')}" th:text="${err}"></li>
        </ul>


</body>
</html>